@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

/* header ٩(๑❛ᴗ❛๑)۶z*/
header {
  width: 100%;
  height: 100%;
  background: #d60a2e; }

.header {
  width: 1000px;
  height: 80px;
  margin: 0 auto; }

/* top_nav ٩(๑❛ᴗ❛๑)۶z*/
.top_nav {
  width: 100%;
  height: 28px;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd; }

.nav_head {
  width: 1000px;
  height: 28px;
  margin: 0 auto; }
  .nav_head .nav_left {
    width: 250px;
    height: 28px;
    float: left;
    position: relative;
    overflow: hidden; }
    .nav_head .nav_left img {
      float: left; }
    .nav_head .nav_left span {
      float: left;
      font-size: 12px;
      color: #666;
      line-height: 28px; }
    .nav_head .nav_left .App {
      width: 190px;
      height: 28px;
      position: absolute;
      left: 56px;
      top: 0; }
      .nav_head .nav_left .App li {
        width: 190px;
        color: #666;
        line-height: 28px;
        float: right;
        font-size: 12px; }
        .nav_head .nav_left .App li a {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 190px;
          float: left;
          color: #666; }
          .nav_head .nav_left .App li a:hover {
            color: #f70800; }
        .nav_head .nav_left .App li .show_a {
          display: block; }
  .nav_head .nav_right {
    width: 450px;
    height: 28px;
    float: right; }

.nav_right ul {
  line-height: 28px; }
  .nav_right ul li {
    float: left;
    color: #666; }
    .nav_right ul li i {
      float: left;
      height: 20px;
      overflow: hidden;
      font-style: normal; }
    .nav_right ul li span {
      float: left;
      margin-left: 10px;
      margin-right: 11px;
      position: relative; }
      .nav_right ul li span a {
        float: right;
        font-size: 12px;
        color: #666; }
      .nav_right ul li span img {
        float: left;
        margin-top: 8px;
        margin-right: 4px; }
      .nav_right ul li span .show_code {
        width: 112px;
        height: 134px;
        position: absolute;
        top: 26px;
        left: -16px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        border: 1px solid #ddd;
        background: #fff;
        z-index: 20;
        display: none; }
        .nav_right ul li span .show_code i {
          position: absolute;
          top: -5px;
          left: 47px;
          width: 0;
          height: 0;
          border-top: none;
          border-bottom: 7px solid #fff;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          z-index: 23; }
        .nav_right ul li span .show_code img {
          display: block;
          margin-top: 12px;
          margin-left: 10px;
          cursor: pointer; }
        .nav_right ul li span .show_code p {
          font-size: 14px;
          color: #f70800;
          text-align: center;
          cursor: pointer; }
      .nav_right ul li span:hover .show_code {
        display: block; }

/* bg_center ٩(๑❛ᴗ❛๑)۶z */
.bg_center {
  width: 100%;
  overflow: hidden; }
  .bg_center .mar_center {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden; }
    .bg_center .mar_center .logo_top {
      width: 1000px;
      height: 100px;
      background: #fff; }
      .bg_center .mar_center .logo_top img {
        margin-top: 30px;
        float: left; }
      .bg_center .mar_center .logo_top .myShop {
        float: right; }
    .bg_center .mar_center .myCar {
      padding-top: 10px;
      font-size: 16px;
      color: #222;
      line-height: 21px;
      padding-bottom: 10px; }
    .bg_center .mar_center .shop_list {
      width: 998px;
      overflow: hidden;
      border: 1px solid #eee; }
      .bg_center .mar_center .shop_list ul {
        width: 1000px;
        height: 35px;
        background: #f2f2f2;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        line-height: 35px; }
        .bg_center .mar_center .shop_list ul li {
          float: left;
          width: 140px;
          height: 35px;
          font-size: 12px;
          color: #666; }
        .bg_center .mar_center .shop_list ul .first_li {
          width: 148px;
          height: 35px; }
          .bg_center .mar_center .shop_list ul .first_li input {
            margin: 0 15px;
            vertical-align: middle; }
        .bg_center .mar_center .shop_list ul .second_li {
          width: 360px; }
        .bg_center .mar_center .shop_list ul .last_li {
          width: 70px; }
      .bg_center .mar_center .shop_list .shopping_con {
        width: 950px;
        height: 80px;
        line-height: 80px;
        padding: 20px 0 20px 0;
        font-size: 12px;
        color: #666;
        margin-bottom: 30px; }
        .bg_center .mar_center .shop_list .shopping_con input {
          float: left;
          margin: 40px 17px 0 17px; }
        .bg_center .mar_center .shop_list .shopping_con img {
          float: left;
          display: inline-block;
          width: 80px;
          height: 80px; }
        .bg_center .mar_center .shop_list .shopping_con a {
          width: 360px;
          float: left;
          color: #666;
          font-size: 12px;
          line-height: 18px;
          margin-left: 20px; }
        .bg_center .mar_center .shop_list .shopping_con span {
          float: left; }
        .bg_center .mar_center .shop_list .shopping_con .num_a {
          float: left;
          line-height: 80px;
          margin: 25px 0 0 80px; }
          .bg_center .mar_center .shop_list .shopping_con .num_a a {
            width: 20px;
            line-height: 22px;
            text-align: center;
            border: 1px solid #999;
            margin: 0; }
          .bg_center .mar_center .shop_list .shopping_con .num_a input {
            text-align: center;
            line-height: 20px;
            width: 30px;
            height: 20px;
            margin: 0; }
        .bg_center .mar_center .shop_list .shopping_con .subtotal {
          font-size: 16px;
          font-weight: 900;
          color: #666;
          margin-left: 80px;
          margin-right: 100px; }
        .bg_center .mar_center .shop_list .shopping_con i {
          font-size: 20px; }

/* bg_footer ٩(๑❛ᴗ❛๑)۶z */
/* 右侧悬浮 */
.sidebar {
  z-index: 999;
  width: 36px;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  border-right: 4px solid #222;
  cursor: pointer; }
  .sidebar .bar_top {
    width: 36px;
    height: 144px;
    background: #777;
    position: absolute;
    right: -4px;
    top: 50%;
    margin-top: -72px; }
    .sidebar .bar_top ul li {
      position: relative; }
      .sidebar .bar_top ul li img {
        display: block; }
      .sidebar .bar_top ul li .box_show1 {
        display: none; }
        .sidebar .bar_top ul li .box_show1 .bar_show1 {
          width: 260px;
          height: 230px;
          border: 1px solid #eee;
          position: absolute;
          right: 36px;
          top: 0; }
          .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top {
            width: 260px;
            height: 120px;
            background: #fff;
            text-align: center;
            padding-top: 40px; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top img {
              display: inline-block; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top span {
              margin-top: 5px;
              display: block;
              font-size: 12px; }
              .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top span a {
                margin: 0 5px;
                color: #f70800; }
          .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom {
            width: 260px;
            height: 50px;
            background: #eee;
            padding-top: 20px; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_left {
              width: 70px;
              line-height: 25px;
              border: 1px solid #666;
              font-size: 12px;
              color: #000;
              float: left;
              text-align: center;
              margin: 0 10px 0 65px;
              transition: all 0.5s; }
              .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_left:hover {
                border-color: #f70800;
                color: #f70800;
                border-radius: 10px; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_right {
              width: 70px;
              line-height: 25px;
              border: 1px solid #666;
              font-size: 12px;
              color: #000;
              float: left;
              text-align: center;
              transition: all 0.5s; }
              .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_right:hover {
                border-color: #f70800;
                color: #f70800;
                border-radius: 10px; }
        .sidebar .bar_top ul li .box_show1 i {
          position: absolute;
          top: 10px;
          left: -1px;
          width: 0;
          height: 0;
          border-right: none;
          border-left: 7px solid #fff;
          border-bottom: 7px solid transparent;
          border-top: 7px solid transparent; }
      .sidebar .bar_top ul li .box_show2 {
        width: 90px;
        line-height: 30px;
        background: #666;
        font-size: 12px;
        color: #fff;
        text-align: center;
        border-radius: 5px 0 0 5px;
        position: absolute;
        right: 36px;
        top: 3px;
        display: none; }
        .sidebar .bar_top ul li .box_show2 i {
          position: absolute;
          top: 9px;
          left: 90px;
          width: 0;
          height: 0;
          border-right: none;
          border-left: 7px solid #666;
          border-bottom: 7px solid transparent;
          border-top: 7px solid transparent; }
      .sidebar .bar_top ul li:hover .box_show1 {
        display: block; }
      .sidebar .bar_top ul li:hover .box_show2 {
        display: block; }
  .sidebar .bar_bot {
    width: 36px;
    height: 108px;
    background: #777;
    position: absolute;
    right: -4px;
    bottom: -1px; }
    .sidebar .bar_bot img {
      display: block; }
    .sidebar .bar_bot ul li {
      position: relative; }
      .sidebar .bar_bot ul li .box_show3 {
        width: 90px;
        line-height: 30px;
        background: #666;
        font-size: 12px;
        color: #fff;
        text-align: center;
        border-radius: 5px 0 0 5px;
        position: absolute;
        right: 36px;
        top: 3px;
        display: none; }
        .sidebar .bar_bot ul li .box_show3 i {
          position: absolute;
          top: 9px;
          left: 90px;
          width: 0;
          height: 0;
          border-right: none;
          border-left: 7px solid #666;
          border-bottom: 7px solid transparent;
          border-top: 7px solid transparent; }
      .sidebar .bar_bot ul li:hover .box_show3 {
        display: block; }

footer {
  width: 100%;
  height: 520px; }
  footer .bg_footer {
    width: 1000px;
    height: 520px;
    margin: 0 auto; }
    footer .bg_footer .footer_top {
      border-bottom: 1px solid #e6e6e6; }
      footer .bg_footer .footer_top img {
        float: left; }
    footer .bg_footer .footer_center {
      float: left;
      width: 925px;
      height: 115px;
      border-bottom: 1px solid #e6e6e6;
      padding: 26px 0 26px 75px;
      margin: 0 auto; }
      footer .bg_footer .footer_center dl {
        float: left;
        width: 95px;
        height: 114px;
        padding-left: 42px;
        border-right: 1px dotted #e6e6e6;
        text-align: left dt;
          text-align-color: #333;
          text-align-font-size: 16px;
          text-align-line-height: 26px; }
        footer .bg_footer .footer_center dl dd {
          line-height: 22px; }
          footer .bg_footer .footer_center dl dd a {
            font-size: 12px;
            color: #666; }
      footer .bg_footer .footer_center :last-child {
        border: none; }
      footer .bg_footer .footer_center .code {
        width: 80px;
        float: left;
        text-align: center;
        margin: 0 27px;
        font-size: 12px;
        cursor: pointer; }
        footer .bg_footer .footer_center .code p {
          color: #222; }
        footer .bg_footer .footer_center .code span {
          color: #999; }
      footer .bg_footer .footer_center .data {
        float: left;
        margin-top: 20px; }
    footer .bg_footer .footer_bottom {
      float: left;
      width: 1000px;
      height: 150px;
      padding-top: 20px; }
      footer .bg_footer .footer_bottom .a_list {
        text-align: center; }
        footer .bg_footer .footer_bottom .a_list a {
          margin: 0 8px;
          font-size: 13px;
          color: #555; }
          footer .bg_footer .footer_bottom .a_list a:hover {
            color: #f70800; }
        footer .bg_footer .footer_bottom .a_list span {
          display: inline-block;
          color: #555;
          height: 17px;
          overflow: hidden; }
      footer .bg_footer .footer_bottom .sa {
        font-size: 12px;
        margin-left: 27px;
        line-height: 25px;
        color: #555; }
        footer .bg_footer .footer_bottom .sa a {
          color: #555;
          margin-right: 6px; }
          footer .bg_footer .footer_bottom .sa a:hover {
            color: #f70800; }
      footer .bg_footer .footer_bottom p {
        font-size: 12px;
        color: #555;
        line-height: 26px;
        text-align: center; }
        footer .bg_footer .footer_bottom p img {
          vertical-align: top;
          margin-right: 5px; }
