@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

/* header ٩(๑❛ᴗ❛๑)۶z*/
header {
  width: 100%;
  height: 100%;
  background: #d60a2e; }

.header {
  width: 1000px;
  height: 80px;
  margin: 0 auto; }

/* top_nav ٩(๑❛ᴗ❛๑)۶z*/
.top_nav {
  width: 100%;
  height: 28px;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd; }

.nav_head {
  width: 1000px;
  height: 28px;
  margin: 0 auto; }
  .nav_head .nav_left {
    width: 250px;
    height: 28px;
    float: left;
    position: relative;
    overflow: hidden; }
    .nav_head .nav_left img {
      float: left; }
    .nav_head .nav_left span {
      float: left;
      font-size: 12px;
      color: #666;
      line-height: 28px; }
    .nav_head .nav_left .App {
      width: 190px;
      height: 28px;
      position: absolute;
      left: 56px;
      top: 0; }
      .nav_head .nav_left .App li {
        width: 190px;
        color: #666;
        line-height: 28px;
        float: right;
        font-size: 12px; }
        .nav_head .nav_left .App li a {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 190px;
          float: left;
          color: #666; }
          .nav_head .nav_left .App li a:hover {
            color: #f70800; }
        .nav_head .nav_left .App li .show_a {
          display: block; }
  .nav_head .nav_right {
    width: 450px;
    height: 28px;
    float: right; }

.nav_right ul {
  line-height: 28px; }
  .nav_right ul li {
    float: left;
    color: #666; }
    .nav_right ul li i {
      float: left;
      height: 20px;
      overflow: hidden;
      font-style: normal; }
    .nav_right ul li span {
      float: left;
      margin-left: 10px;
      margin-right: 11px;
      position: relative; }
      .nav_right ul li span a {
        float: right;
        font-size: 12px;
        color: #666; }
      .nav_right ul li span img {
        float: left;
        margin-top: 8px;
        margin-right: 4px; }
      .nav_right ul li span .show_code {
        width: 112px;
        height: 134px;
        position: absolute;
        top: 26px;
        left: -16px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        border: 1px solid #ddd;
        background: #fff;
        z-index: 20;
        display: none; }
        .nav_right ul li span .show_code i {
          position: absolute;
          top: -5px;
          left: 47px;
          width: 0;
          height: 0;
          border-top: none;
          border-bottom: 7px solid #fff;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          z-index: 23; }
        .nav_right ul li span .show_code img {
          display: block;
          margin-top: 12px;
          margin-left: 10px;
          cursor: pointer; }
        .nav_right ul li span .show_code p {
          font-size: 14px;
          color: #f70800;
          text-align: center;
          cursor: pointer; }
      .nav_right ul li span:hover .show_code {
        display: block; }

/* logo_form ٩(๑❛ᴗ❛๑)۶z*/
.logo_form {
  width: 100%;
  height: 102px; }
  .logo_form .center_form {
    width: 1000px;
    height: 82px;
    margin: 0 auto;
    padding: 20px 0 0;
    position: relative; }
    .logo_form .center_form .left_logo {
      float: left;
      width: 206px;
      margin-right: 82px;
      cursor: pointer; }
    .logo_form .center_form .center_input {
      float: left;
      width: 420px;
      height: 36px;
      background: #eee;
      margin-top: 6px;
      background: #f70800; }
      .logo_form .center_form .center_input input {
        width: 340px;
        height: 32px;
        float: left;
        text-indent: 10px;
        border: 2px solid #f70800;
        font-size: 12px;
        color: #666;
        outline: none; }
      .logo_form .center_form .center_input span {
        float: right;
        color: #fff;
        font-size: 14px;
        margin-top: 8px;
        margin-right: 25px;
        cursor: pointer; }
    .logo_form .center_form .right_shop {
      width: 138px;
      height: 30px;
      float: right;
      background: #fff;
      border: 1px solid #ddd;
      margin-top: 8px;
      position: relative;
      z-index: 10; }
      .logo_form .center_form .right_shop .shop {
        float: left;
        margin-top: 5px;
        margin-left: 10px; }
      .logo_form .center_form .right_shop a {
        float: left;
        font-size: 12px;
        color: #222;
        margin-top: 7px;
        margin-left: 5px; }
      .logo_form .center_form .right_shop span {
        width: 22px;
        line-height: 14px;
        background: #f70800;
        color: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 8px 8px 5px 5px;
        position: absolute;
        top: -4px;
        right: 26px; }
      .logo_form .center_form .right_shop .downArr {
        margin-left: 20px;
        position: absolute;
        top: 13px;
        right: 13px; }
      .logo_form .center_form .right_shop .upArr {
        position: absolute;
        top: 13px;
        right: 13px;
        display: none; }
    .logo_form .center_form .show_box {
      position: absolute;
      top: 59px;
      right: 0;
      border: 1px solid #ddd;
      width: 288px;
      line-height: 100px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      text-align: center;
      font-size: 12px;
      z-index: 2;
      display: none; }

/* nav_list ٩(๑❛ᴗ❛๑)۶z*/
.nav_list {
  width: 100%;
  height: 40px;
  background: #f70800; }
  .nav_list .list_z {
    width: 1000px;
    height: 40px;
    background: #f70800;
    margin: 0 auto; }
    .nav_list .list_z ul {
      float: left;
      width: 445px;
      height: 40px; }
      .nav_list .list_z ul .activeLi {
        background: #bc0600; }
      .nav_list .list_z ul li {
        float: left;
        width: 70px;
        line-height: 40px; }
        .nav_list .list_z ul li a {
          display: block;
          width: 70px;
          text-align: center;
          line-height: 40px;
          color: #fff;
          font-size: 15px;
          font-weight: bold; }
        .nav_list .list_z ul li i {
          float: left;
          height: 18px;
          margin-bottom: 11px;
          margin-left: 13px;
          color: #fff; }
        .nav_list .list_z ul li:hover {
          background: #e20700; }
      .nav_list .list_z ul .tv {
        width: 95px;
        height: 40px; }
    .nav_list .list_z .classify {
      float: right;
      width: 134px;
      line-height: 40px;
      position: relative;
      text-align: center; }
      .nav_list .list_z .classify a {
        color: #fff;
        font-weight: bold;
        font-size: 15px; }
      .nav_list .list_z .classify .downArr {
        margin-bottom: 2px;
        position: absolute;
        top: 18px;
        right: 13px; }
      .nav_list .list_z .classify .upArr {
        position: absolute;
        top: 18px;
        right: 13px;
        display: none; }
      .nav_list .list_z .classify .tabulation {
        width: 1000px;
        height: 248px;
        position: absolute;
        top: 40px;
        right: 0px;
        border: 1px solid #f70800;
        display: none;
        z-index: 5; }
        .nav_list .list_z .classify .tabulation .tab1 {
          width: 136px;
          height: 248px;
          background: #fff;
          float: left;
          border-right: 1px solid #ededed;
          padding: 0 15px; }
          .nav_list .list_z .classify .tabulation .tab1 .tab_top {
            width: 136px;
            line-height: 55px;
            border-bottom: 1px dotted #d9d9d9; }
            .nav_list .list_z .classify .tabulation .tab1 .tab_top img {
              vertical-align: middle; }
            .nav_list .list_z .classify .tabulation .tab1 .tab_top span {
              font-size: 14px;
              color: #222;
              font-weight: 900; }
          .nav_list .list_z .classify .tabulation .tab1 a {
            display: block;
            color: #555;
            font-size: 12px;
            line-height: 24px; }
            .nav_list .list_z .classify .tabulation .tab1 a:hover {
              color: #f70800; }
        .nav_list .list_z .classify .tabulation :last-child {
          width: 135px;
          border: none; }
      .nav_list .list_z .classify:hover {
        background: #e20700; }
        .nav_list .list_z .classify:hover .downArr {
          display: none; }
        .nav_list .list_z .classify:hover .upArr {
          display: block; }
        .nav_list .list_z .classify:hover .tabulation {
          display: block; }

/* bg_center ٩(๑❛ᴗ❛๑)۶z */
.bg_center {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #eee; }
  .bg_center .detail_center {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
    /* 放大镜部分 */
    /* 商品介绍 */
    /* 浮窗部分 */ }
    .bg_center .detail_center .adress {
      width: 1000px;
      height: 17px;
      font-size: 12px;
      color: #222;
      padding: 20px 0;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 20px; }
      .bg_center .detail_center .adress a {
        color: #222;
        margin-right: 5px; }
      .bg_center .detail_center .adress span {
        font-family: monospace;
        margin: 0 3px; }
    .bg_center .detail_center .introduce {
      width: 1000px;
      height: 510px;
      background: #fff;
      position: relative;
      margin-bottom: 30px; }
      .bg_center .detail_center .introduce .introduce_L {
        width: 400px;
        height: 510px;
        margin-right: 30px;
        float: left; }
        .bg_center .detail_center .introduce .introduce_L .box_img {
          width: 398px;
          height: 398px;
          border: 1px solid #ededed;
          position: relative;
          margin-bottom: 15px; }
          .bg_center .detail_center .introduce .introduce_L .box_img img {
            width: 398px;
            height: 398px;
            position: absolute;
            left: 0;
            top: 0;
            display: none; }
          .bg_center .detail_center .introduce .introduce_L .box_img i {
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-size: 30px; }
          .bg_center .detail_center .introduce .introduce_L .box_img .zzc {
            width: 90px;
            height: 90px;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            cursor: move; }
          .bg_center .detail_center .introduce .introduce_L .box_img .activeImg {
            display: block; }
        .bg_center .detail_center .introduce .introduce_L .hide_box {
          width: 400px;
          height: 400px;
          border: 1px solid #ededed;
          position: absolute;
          left: 410px;
          top: 0;
          z-index: 2;
          display: none;
          overflow: hidden; }
          .bg_center .detail_center .introduce .introduce_L .hide_box img {
            width: 600px;
            height: 600px;
            position: absolute;
            left: 0;
            top: 0; }
        .bg_center .detail_center .introduce .introduce_L .carousel_s {
          width: 400px;
          height: 95px;
          text-align: center; }
          .bg_center .detail_center .introduce .introduce_L .carousel_s ul {
            width: 400px;
            height: 64px; }
            .bg_center .detail_center .introduce .introduce_L .carousel_s ul li {
              float: left;
              margin: 0 5px;
              border: 1px solid transparent; }
              .bg_center .detail_center .introduce .introduce_L .carousel_s ul li img {
                width: 58px;
                height: 58px; }
              .bg_center .detail_center .introduce .introduce_L .carousel_s ul li:hover {
                border-color: red; }
            .bg_center .detail_center .introduce .introduce_L .carousel_s ul #firstLi {
              margin-left: 30px; }
            .bg_center .detail_center .introduce .introduce_L .carousel_s ul .activeLi {
              border-color: red; }
          .bg_center .detail_center .introduce .introduce_L .carousel_s .share {
            width: 400px;
            height: 20px; }
            .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode {
              height: 20px;
              font-size: 12px;
              color: #adadad;
              line-height: 20px;
              padding-top: 8px; }
              .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode p {
                float: left;
                margin-left: 5px; }
              .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai {
                float: right;
                margin-right: 10px; }
                .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai span {
                  position: relative;
                  transition: all .5s; }
                  .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai span i {
                    color: red; }
                  .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai span a {
                    color: #222; }
                  .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai span .show_follow {
                    width: 168px;
                    height: 27px;
                    background: rgba(123, 99, 71, 0.4);
                    text-align: center;
                    line-height: 27px;
                    border: 1px solid pink;
                    border-radius: 5px;
                    position: absolute;
                    left: -72px;
                    top: 23px;
                    display: none; }
                    .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai span .show_follow i {
                      border-top: none;
                      border-bottom: 7px solid pink;
                      border-left: 7px solid transparent;
                      border-right: 7px solid transparent;
                      position: absolute;
                      top: -7px;
                      left: 72px; }
                    .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai span .show_follow a {
                      color: blue; }
                  .bg_center .detail_center .introduce .introduce_L .carousel_s .share .goodsCode .box_ai span:hover .show_follow {
                    display: block; }
      .bg_center .detail_center .introduce .introduce_R {
        width: 570px;
        height: 510px;
        float: right; }
        .bg_center .detail_center .introduce .introduce_R .href {
          font-size: 12px;
          color: #666;
          margin-left: 12px; }
        .bg_center .detail_center .introduce .introduce_R h3 {
          margin-bottom: 10px;
          color: #222; }
        .bg_center .detail_center .introduce .introduce_R .fashion_text {
          margin-bottom: 10px;
          color: #666;
          font-size: 12px; }
        .bg_center .detail_center .introduce .introduce_R span {
          color: #666;
          font-size: 12px; }
        .bg_center .detail_center .introduce .introduce_R .price-box {
          width: 550px;
          height: 100px;
          position: relative;
          padding: 15px 10px 10px 10px;
          margin-bottom: 15px;
          border: 1px dotted #e8e8e8;
          background-color: #fafafa; }
          .bg_center .detail_center .introduce .introduce_R .price-box ul li {
            margin-bottom: 10px; }
            .bg_center .detail_center .introduce .introduce_R .price-box ul li .price {
              color: red;
              font-size: 24px; }
            .bg_center .detail_center .introduce .introduce_R .price-box ul li span {
              margin-right: 12px; }
              .bg_center .detail_center .introduce .introduce_R .price-box ul li span b {
                width: 40px;
                height: 18px;
                background: #ff504a;
                border-radius: 2px;
                color: #fff;
                font-weight: 100;
                margin-left: 20px;
                margin-right: 4px;
                display: inline-block;
                text-align: center; }
            .bg_center .detail_center .introduce .introduce_R .price-box ul li .exemption {
              display: block;
              margin-left: 23px;
              margin-top: 10px; }
        .bg_center .detail_center .introduce .introduce_R .center_span {
          width: 570px;
          height: 180px;
          margin-bottom: 30px; }
          .bg_center .detail_center .introduce .introduce_R .center_span ul li {
            color: red;
            font-size: 12px;
            position: relative;
            height: 45px;
            line-height: 45px; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li span {
              margin: 0 15px;
              float: left; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li input {
              width: 130px;
              height: 25px;
              font-size: 12px;
              text-indent: 10px;
              margin-right: 10px;
              outline: none; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li i {
              position: absolute;
              left: 160px;
              top: 0px;
              font-size: 12px;
              color: #666; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li .aImg {
              float: left;
              width: 36px;
              height: 36px;
              border: 2px solid red; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li img {
              width: 36px;
              height: 36px; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li .size {
              width: 33px;
              height: 27px;
              text-align: center;
              border: 1px solid #ccc;
              line-height: 28px;
              font-size: 12px;
              margin-right: 10px;
              float: left;
              color: #000;
              margin-top: 10px;
              box-sizing: border-box;
              cursor: pointer; }
              .bg_center .detail_center .introduce .introduce_R .center_span ul li .size:hover {
                border: 2px solid red;
                line-height: 27px; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li #size_div {
              border: 2px solid red;
              line-height: 27px; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li .size_form:hover {
              text-decoration: underline;
              cursor: pointer; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul li .icon-GroupCopy {
              position: absolute;
              font-size: 10px;
              left: 235px;
              top: 0px;
              color: #cc0000;
              left: 225px; }
          .bg_center .detail_center .introduce .introduce_R .center_span ul .num {
            width: 570px;
            height: 45px;
            line-height: 45px;
            float: left;
            position: relative; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul .num a {
              float: left;
              width: 24px;
              height: 24px;
              line-height: 24px;
              border: 1px solid #ccc;
              margin-top: 10px;
              text-align: center;
              color: #000; }
            .bg_center .detail_center .introduce .introduce_R .center_span ul .num input {
              float: left;
              width: 46px;
              height: 22px;
              text-indent: 20px;
              margin: 10px 0 0 0; }
        .bg_center .detail_center .introduce .introduce_R .button {
          width: 570px;
          height: 80px; }
          .bg_center .detail_center .introduce .introduce_R .button button {
            width: 190px;
            height: 44px;
            background: #ff504a;
            color: #fff;
            font-size: 14px;
            line-height: 44px;
            text-align: center;
            outline: none;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            margin-bottom: 10px; }
          .bg_center .detail_center .introduce .introduce_R .button .icon_text {
            font-size: 12px;
            color: #777; }
            .bg_center .detail_center .introduce .introduce_R .button .icon_text span {
              color: #222;
              font-size: 12px; }
            .bg_center .detail_center .introduce .introduce_R .button .icon_text em {
              font-style: normal;
              color: red; }
    .bg_center .detail_center .img_box {
      width: 1000px;
      height: 80px;
      margin: 0 auto 20px; }
    .bg_center .detail_center .shop_int {
      width: 1000px;
      margin: 0 auto;
      overflow: hidden; }
      .bg_center .detail_center .shop_int .int_left {
        width: 788px;
        border: 1px solid #e8e8e8;
        background: #fff;
        overflow: hidden;
        float: left; }
        .bg_center .detail_center .shop_int .int_left .int_top {
          width: 788px;
          height: 43px;
          float: left;
          margin-bottom: 50px;
          background: #f5f5f5; }
          .bg_center .detail_center .shop_int .int_left .int_top a {
            float: left;
            width: 160px;
            line-height: 43px;
            border-right: 1px solid #e8e8e8;
            text-align: center;
            font-size: 14px;
            color: #222;
            background: #f5f5f5; }
          .bg_center .detail_center .shop_int .int_left .int_top .activeA {
            background: #fff;
            border-bottom: none;
            color: #F70800;
            border-top: 2px solid #F70800; }
        .bg_center .detail_center .shop_int .int_left .int_center {
          width: 732px;
          padding: 0 28px;
          padding-bottom: 50px;
          overflow: hidden; }
          .bg_center .detail_center .shop_int .int_left .int_center img {
            padding-bottom: 30px; }
          .bg_center .detail_center .shop_int .int_left .int_center :last-child {
            border-bottom: 1px solid #eee; }
        .bg_center .detail_center .shop_int .int_left .int_bottom {
          width: 788px;
          height: 330px;
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee; }
          .bg_center .detail_center .shop_int .int_left .int_bottom .look_shop {
            width: 768px;
            height: 34px;
            background: #f5f5f5;
            border-bottom: 1px solid #e8e8e8;
            padding-left: 20px;
            line-height: 34px; }
            .bg_center .detail_center .shop_int .int_left .int_bottom .look_shop b {
              font-size: 14px;
              height: 10px;
              padding-left: 10px;
              border-left: 2px solid red; }
          .bg_center .detail_center .shop_int .int_left .int_bottom ul {
            overflow: hidden; }
            .bg_center .detail_center .shop_int .int_left .int_bottom ul li {
              float: left;
              margin: 0 10px; }
              .bg_center .detail_center .shop_int .int_left .int_bottom ul li a {
                width: 175px;
                height: 240px;
                float: left;
                font-size: 12px;
                margin-top: 30px; }
                .bg_center .detail_center .shop_int .int_left .int_bottom ul li a img {
                  width: 170px;
                  height: 170px; }
                .bg_center .detail_center .shop_int .int_left .int_bottom ul li a span {
                  color: #222; }
                .bg_center .detail_center .shop_int .int_left .int_bottom ul li a p {
                  font-size: 16px;
                  color: #f70800;
                  margin-top: 10px;
                  margin-left: 5px; }
                  .bg_center .detail_center .shop_int .int_left .int_bottom ul li a p i {
                    margin-left: 10px;
                    font-size: 14px;
                    font-style: normal;
                    color: #999; }
                    .bg_center .detail_center .shop_int .int_left .int_bottom ul li a p i span {
                      color: #999;
                      font-size: 14px;
                      text-decoration: line-through; }
      .bg_center .detail_center .shop_int .int_right {
        width: 188px;
        border: 1px solid #e8e8e8;
        border-top: none;
        float: right; }
        .bg_center .detail_center .shop_int .int_right .look {
          width: 188px;
          height: 40px;
          line-height: 40px;
          border-top: 2px solid #F70800;
          border-bottom: 1px solid #e8e8e8; }
          .bg_center .detail_center .shop_int .int_right .look h3 {
            font-size: 14px;
            margin-left: 20px; }
        .bg_center .detail_center .shop_int .int_right ul li {
          overflow: hidden;
          padding: 20px 0; }
          .bg_center .detail_center .shop_int .int_right ul li a {
            width: 175px;
            overflow: hidden;
            float: left;
            font-size: 12px;
            margin-left: 10px;
            text-align: center; }
            .bg_center .detail_center .shop_int .int_right ul li a img {
              width: 160px;
              height: 150px; }
            .bg_center .detail_center .shop_int .int_right ul li a span {
              color: #222; }
            .bg_center .detail_center .shop_int .int_right ul li a p {
              font-size: 16px;
              color: #f70800;
              margin-top: 10px;
              margin-left: 5px;
              padding-bottom: 20px;
              border-bottom: 1px solid #f6f6f6; }
              .bg_center .detail_center .shop_int .int_right ul li a p i {
                margin-left: 10px;
                font-size: 14px;
                font-style: normal;
                color: #999; }
                .bg_center .detail_center .shop_int .int_right ul li a p i span {
                  color: #999;
                  font-size: 14px;
                  text-decoration: line-through; }
    .bg_center .detail_center .fix_box {
      width: 997px;
      height: 45px;
      margin: 0 auto;
      background: #f5f5f5;
      position: fixed;
      top: 0;
      left: 133px;
      display: none; }
      .bg_center .detail_center .fix_box .fix_l {
        width: 480px;
        height: 43px;
        float: left; }
        .bg_center .detail_center .fix_box .fix_l a {
          float: left;
          width: 159px;
          line-height: 43px;
          border-right: 1px solid #e8e8e8;
          text-align: center;
          font-size: 14px;
          color: #222;
          background: #f5f5f5; }
        .bg_center .detail_center .fix_box .fix_l .activeA {
          background: #fff;
          border-bottom: none;
          color: #F70800;
          border-top: 2px solid #F70800; }
      .bg_center .detail_center .fix_box .fix_r {
        width: 510px;
        height: 43px;
        background: #f5f5f5;
        float: right;
        font-size: 12px; }
        .bg_center .detail_center .fix_box .fix_r span {
          margin: 0 5px;
          letter-spacing: 3px; }
        .bg_center .detail_center .fix_box .fix_r .col_text {
          float: left;
          width: 110px;
          height: 43px;
          line-height: 43px;
          text-align: center; }
        .bg_center .detail_center .fix_box .fix_r .btn_text {
          float: right;
          width: 308px;
          height: 43px;
          line-height: 43px;
          text-align: center; }
          .bg_center .detail_center .fix_box .fix_r .btn_text .money {
            font-size: 16px;
            color: #F70800;
            letter-spacing: 0px; }
          .bg_center .detail_center .fix_box .fix_r .btn_text button {
            width: 190px;
            height: 44px;
            background: #ff504a;
            color: #fff;
            font-size: 14px;
            line-height: 44px;
            text-align: center;
            outline: none;
            border: none;
            border-radius: 2px;
            cursor: pointer; }

/* bg_footer ٩(๑❛ᴗ❛๑)۶z */
/* 右侧悬浮 */
.sidebar {
  z-index: 999;
  width: 36px;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  border-right: 4px solid #222;
  cursor: pointer; }
  .sidebar .bar_top {
    width: 36px;
    height: 144px;
    background: #777;
    position: absolute;
    right: -4px;
    top: 50%;
    margin-top: -72px; }
    .sidebar .bar_top ul li {
      position: relative; }
      .sidebar .bar_top ul li img {
        display: block; }
      .sidebar .bar_top ul li .box_show1 {
        display: none; }
        .sidebar .bar_top ul li .box_show1 .bar_show1 {
          width: 260px;
          height: 230px;
          border: 1px solid #eee;
          position: absolute;
          right: 36px;
          top: 0; }
          .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top {
            width: 260px;
            height: 120px;
            background: #fff;
            text-align: center;
            padding-top: 40px; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top img {
              display: inline-block; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top span {
              margin-top: 5px;
              display: block;
              font-size: 12px; }
              .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_top span a {
                margin: 0 5px;
                color: #f70800; }
          .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom {
            width: 260px;
            height: 50px;
            background: #eee;
            padding-top: 20px; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_left {
              width: 70px;
              line-height: 25px;
              border: 1px solid #666;
              font-size: 12px;
              color: #000;
              float: left;
              text-align: center;
              margin: 0 10px 0 65px;
              transition: all 0.5s; }
              .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_left:hover {
                border-color: #f70800;
                color: #f70800;
                border-radius: 10px; }
            .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_right {
              width: 70px;
              line-height: 25px;
              border: 1px solid #666;
              font-size: 12px;
              color: #000;
              float: left;
              text-align: center;
              transition: all 0.5s; }
              .sidebar .bar_top ul li .box_show1 .bar_show1 .show1_bottom .btn_right:hover {
                border-color: #f70800;
                color: #f70800;
                border-radius: 10px; }
        .sidebar .bar_top ul li .box_show1 i {
          position: absolute;
          top: 10px;
          left: -1px;
          width: 0;
          height: 0;
          border-right: none;
          border-left: 7px solid #fff;
          border-bottom: 7px solid transparent;
          border-top: 7px solid transparent; }
      .sidebar .bar_top ul li .box_show2 {
        width: 90px;
        line-height: 30px;
        background: #666;
        font-size: 12px;
        color: #fff;
        text-align: center;
        border-radius: 5px 0 0 5px;
        position: absolute;
        right: 36px;
        top: 3px;
        display: none; }
        .sidebar .bar_top ul li .box_show2 i {
          position: absolute;
          top: 9px;
          left: 90px;
          width: 0;
          height: 0;
          border-right: none;
          border-left: 7px solid #666;
          border-bottom: 7px solid transparent;
          border-top: 7px solid transparent; }
      .sidebar .bar_top ul li:hover .box_show1 {
        display: block; }
      .sidebar .bar_top ul li:hover .box_show2 {
        display: block; }
  .sidebar .bar_bot {
    width: 36px;
    height: 108px;
    background: #777;
    position: absolute;
    right: -4px;
    bottom: -1px; }
    .sidebar .bar_bot img {
      display: block; }
    .sidebar .bar_bot ul li {
      position: relative; }
      .sidebar .bar_bot ul li .box_show3 {
        width: 90px;
        line-height: 30px;
        background: #666;
        font-size: 12px;
        color: #fff;
        text-align: center;
        border-radius: 5px 0 0 5px;
        position: absolute;
        right: 36px;
        top: 3px;
        display: none; }
        .sidebar .bar_bot ul li .box_show3 i {
          position: absolute;
          top: 9px;
          left: 90px;
          width: 0;
          height: 0;
          border-right: none;
          border-left: 7px solid #666;
          border-bottom: 7px solid transparent;
          border-top: 7px solid transparent; }
      .sidebar .bar_bot ul li:hover .box_show3 {
        display: block; }

footer {
  width: 100%;
  height: 520px; }
  footer .bg_footer {
    width: 1000px;
    height: 520px;
    margin: 0 auto; }
    footer .bg_footer .footer_top {
      border-bottom: 1px solid #e6e6e6; }
      footer .bg_footer .footer_top img {
        float: left; }
    footer .bg_footer .footer_center {
      float: left;
      width: 925px;
      height: 115px;
      border-bottom: 1px solid #e6e6e6;
      padding: 26px 0 26px 75px;
      margin: 0 auto; }
      footer .bg_footer .footer_center dl {
        float: left;
        width: 95px;
        height: 114px;
        padding-left: 42px;
        border-right: 1px dotted #e6e6e6;
        text-align: left dt;
          text-align-color: #333;
          text-align-font-size: 16px;
          text-align-line-height: 26px; }
        footer .bg_footer .footer_center dl dd {
          line-height: 22px; }
          footer .bg_footer .footer_center dl dd a {
            font-size: 12px;
            color: #666; }
      footer .bg_footer .footer_center :last-child {
        border: none; }
      footer .bg_footer .footer_center .code {
        width: 80px;
        float: left;
        text-align: center;
        margin: 0 27px;
        font-size: 12px;
        cursor: pointer; }
        footer .bg_footer .footer_center .code p {
          color: #222; }
        footer .bg_footer .footer_center .code span {
          color: #999; }
      footer .bg_footer .footer_center .data {
        float: left;
        margin-top: 20px; }
    footer .bg_footer .footer_bottom {
      float: left;
      width: 1000px;
      height: 150px;
      padding-top: 20px; }
      footer .bg_footer .footer_bottom .a_list {
        text-align: center; }
        footer .bg_footer .footer_bottom .a_list a {
          margin: 0 8px;
          font-size: 13px;
          color: #555; }
          footer .bg_footer .footer_bottom .a_list a:hover {
            color: #f70800; }
        footer .bg_footer .footer_bottom .a_list span {
          display: inline-block;
          color: #555;
          height: 17px;
          overflow: hidden; }
      footer .bg_footer .footer_bottom .sa {
        font-size: 12px;
        margin-left: 27px;
        line-height: 25px;
        color: #555; }
        footer .bg_footer .footer_bottom .sa a {
          color: #555;
          margin-right: 6px; }
          footer .bg_footer .footer_bottom .sa a:hover {
            color: #f70800; }
      footer .bg_footer .footer_bottom p {
        font-size: 12px;
        color: #555;
        line-height: 26px;
        text-align: center; }
        footer .bg_footer .footer_bottom p img {
          vertical-align: top;
          margin-right: 5px; }
