body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
.clearfix:after{
	content:"";
	height:0;
	display:block;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}

         /* header ٩(๑❛ᴗ❛๑)۶z*/
header{
	width:100%;
	height:100%;
	background:#d60a2e;
}
.header{
	width:1000px;
	height:80px;
	margin:0 auto;
}
			/* top_nav ٩(๑❛ᴗ❛๑)۶z*/
.top_nav{
	width:100%;
	height: 28px;
	background: #f6f6f6;
	border-bottom:1px solid #ddd;
}
.nav_head{
	width:1000px;
	height:28px;
	margin:0 auto;
	.nav_left{
		width:250px;;
		height:28px;
		float:left;
		position:relative;
			overflow:hidden;
		img{
		float:left;
		} 
		span{
			float:left;
			font-size:12px;
			color:#666;
			line-height:28px;
		}
		.App{
			width: 190px;
			height: 28px;
			position:absolute;
			left:56px;
			top:0;
			li{
				width:190px;
				color:#666;
				line-height:28px;
				float:right;
				font-size:12px;
				
				a{
					overflow:hidden;
					white-space:nowrap;
					text-overflow:ellipsis;
					width:190px;
					float:left;
					color:#666;
					// display:none;
					&:hover{
						color:#f70800;
					}
				}
				.show_a{
					display:block;
				}
			} 
		}
	}
	.nav_right{
		width:450px;
		height:28px;
		float:right;

	}
}
.nav_right ul{
	line-height:28px;
	li{
		float:left;
		color:#666;
    	i{
    		float:left;
    		height: 20px;
    		overflow:hidden;
			font-style:normal;
    	}
		span{
			float:left;
			margin-left:10px;
			margin-right:11px;
			position:relative;
			a{
				float:right;
				font-size:12px;
				color:#666;
			}
			img{
				float:left;
				margin-top:8px;
				margin-right:4px;
			}
			.show_code{
				width: 112px;
				height: 134px;
				position:absolute;
				top:26px;
				left:-16px;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    			border: 1px solid #ddd;
    			background: #fff;
    			z-index:20;
    			display:none;
    			i{
					position:absolute;
					top:-5px;
					left:47px;
					width: 0;
					height: 0;
					border-top:none;
					border-bottom:7px solid #fff;
					border-left:7px solid transparent;
					border-right:7px solid transparent;
					z-index:23;
				}
				img{
					display:block;
					margin-top:12px;
					margin-left:10px;
					cursor:pointer;
				}
				p{
					font-size:14px;
					color:#f70800;
					text-align:center;
					cursor:pointer;
				}
			}
			&:hover{
				.show_code{
					display:block;
				}
			}
		}
	}
} 
			/* logo_form ٩(๑❛ᴗ❛๑)۶z*/
.logo_form{
	width:100%;
	height:102px;
	.center_form{
		width:1000px;
		height:82px;
		margin:0 auto;
		padding:20px 0 0;
		position:relative;
		.left_logo{
			float:left;
			width:206px;
			margin-right:82px;
			cursor:pointer;
		}
		.center_input{
			float:left;
			width:420px;
			height: 36px;
			background: #eee;
			margin-top:6px;
			background: #f70800;
			input{
				width:340px;
				height:32px;
				float:left;
				text-indent:10px;
				border:2px solid #f70800;
				font-size:12px;
				color:#666;
				outline:none;
			}
			span{
				float:right;
				color:#fff;
				font-size:14px;
				margin-top:8px;
				margin-right:25px;
				cursor:pointer;
			}
		}
		.right_shop{
			width:138px;
			height:30px;
			float:right;
			background: #fff;
			border:1px solid #ddd;
			margin-top:8px;
			position:relative;
			z-index:10;
			.shop{
				float:left;
				margin-top:5px;
				margin-left:10px;
			}
			a{
				float:left;
				font-size:12px;
				color:#222;
				margin-top:7px;
				margin-left:5px;
			}
			span{
				width:22px;
				line-height: 14px;
				background: #f70800;
				color:#fff;
				font-size:12px;
				text-align:center;
				border-radius:8px 8px 5px 5px;
				position:absolute;
				top:-4px;
				right:26px;
			}
			.downArr{
				margin-left:20px;
				position:absolute;
				top:13px;
				right:13px;
			}
			.upArr{
				position:absolute;
				top:13px;
				right:13px;
				display:none;
			}
		}
		.show_box{
				position:absolute;
				top:59px;
				right:0;
				border: 1px solid #ddd;
			    width: 288px;
			    line-height: 100px;
			    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    			background-color: #fff;
    			text-align:center;
    			font-size:12px;
    			z-index:2;
    			display:none;
		}
	}
}

			/* nav_list ٩(๑❛ᴗ❛๑)۶z*/

.nav_list{
	width:100%;
	height:40px;
	background: #f70800;
	.list_z{
		width:1000px;
		height:40px;
		background: #f70800;
		margin:0 auto;
		ul{
			float:left;
			width:445px;
			height:40px;
			.activeLi{
				background:#bc0600;
			}
			li{
				float:left;
				width:70px;
				line-height: 40px;
				a{
					display:block;
					width:70px;
					text-align:center;
					line-height:40px;
					color:#fff;
					font-size:15px;
					font-weight:bold;
				}
				i{
					float:left;
					height: 18px;
					margin-bottom:11px;
					margin-left:13px;
					color:#fff;
				}
				&:hover{
					background: #e20700;
				}
			}
			.tv{
				width:95px;
				height: 40px;
			}
		}
		.classify{
			float:right;
			width:134px;
			line-height: 40px;
			position:relative;
			text-align:center;
			.list_icon{

			}
			a{
				color:#fff;
				font-weight:bold;
				font-size:15px;
			}
			.downArr{
				margin-bottom:2px;
				position:absolute;
				top:18px;
				right:13px;
			}
			.upArr{
				position:absolute;
				top:18px;
				right:13px;
				display:none;
			}
			.tabulation{
				width:1000px;
				height: 248px;
				position:absolute;
				top:40px;
				right:0px;
				border:1px solid #f70800;
				display:none;
				z-index:5;
				.tab1{
					width: 136px;
					height: 248px;
					background: #fff;
					float:left;
					border-right:1px solid #ededed;
					padding:0 15px;
					.tab_top{
						width: 136px;
						line-height: 55px;
						border-bottom:1px dotted #d9d9d9;
						img{
							vertical-align:middle;
						}
						span{
							font-size:14px;
							color:#222;
							font-weight:900;
						}
					}
					a{
						display:block;
						color: #555;
    					font-size: 12px;
    					line-height:24px;
    					&:hover{
    						color:#f70800;
    					}
					}
				}
				:last-child{
					width:135px;
					border:none;
				}
			}
			&:hover{
				background: #e20700;
				.downArr{
					display:none;
				}
				.upArr{
					display:block;
				}
				.tabulation{
					display:block;
				}
			}
		}
	}
}

/* bg_center ٩(๑❛ᴗ❛๑)۶z */
.bg_center{
	width: 100%;
	overflow:hidden;
	border-bottom:1px solid #eee;
	.detail_center{
		width: 1000px;
		margin:0 auto;
		overflow:hidden;
		padding-bottom:20px;

		.adress{
			width: 1000px;
			height: 17px;
			font-size:12px;
			color:#222;
			padding:20px 0;
			border-bottom: 1px solid #e8e8e8;
			margin-bottom:20px;
			a{
				color:#222;
				margin-right:5px;
			}
			span{
				font-family: monospace;
				margin:0 3px;
			}
		}
		/* 放大镜部分 */
		.introduce{
			width: 1000px;
			height: 510px;
			background: #fff;
			position:relative;
			margin-bottom:30px;
			.introduce_L{
				width: 400px;
				height: 510px;
				margin-right:30px;
				float:left;
				.box_img{
					width: 398px;
					height: 398px;
					border:1px solid #ededed;
					position:relative;
					margin-bottom: 15px;
					img{
						width: 398px;
						height: 398px;
						position:absolute;
						left:0;
						top:0;
						display:none;
					}
					i{
						position:absolute;
						right:5px;
						bottom:5px;
						font-size:30px;
					}
					.zzc{
						width: 90px;
						height: 90px;
						background: rgba(0,0,0, .5px);
						position:absolute;
						left:0;
						top:0;
						display:none;
						cursor:move;
					}
					.activeImg{
						display:block;
					}
				}
				.hide_box{
					width: 400px;
					height: 400px;
					border:1px solid #ededed;
					position:absolute;
					left:410px;
					top:0;
					z-index:2;
					display:none;
					// background: #fff;
					overflow:hidden;
					img{
						width: 600px;
						height: 600px;
						position:absolute;
						left:0;
						top:0;
						// display:none;
					}
				}
				.carousel_s{
					width: 400px;
					height: 95px;
					text-align:center;
					ul{
						width: 400px;
						height: 64px;
						li{
							float:left;
							margin:0 5px;
							border:1px solid transparent;
							img{
								width: 58px;
								height: 58px;
							}
							&:hover{
								border-color:red;
							}
						}
						#firstLi{
							margin-left:30px;
						}
						.activeLi{
							border-color:red;
						}
					}
					.share{
						width: 400px;
						height: 20px;
						.goodsCode{
							height: 20px;
							font-size:12px;
							color:#adadad;
							line-height:20px;
							padding-top:8px;
							p{
								float:left;
								margin-left:5px;
							}
							.box_ai{
								float:right;
								margin-right:10px;
								span{
									position:relative;
										transition:all .5s;
									i{
										color: red;
									}
									a{
										color:#222;
									}
									.show_follow{
										width: 168px;
										height: 27px;
										background: rgba(123,99,71, .4);
										text-align:center;
										line-height:27px;
										border:1px solid pink;
										border-radius:5px;
										position:absolute;
										left:-72px;
										top:23px;
										display:none;
										i{
											border-top:none;
											border-bottom:7px solid pink;
											border-left:7px solid transparent;
											border-right:7px solid transparent;
											position:absolute;
											top:-7px;
											left:72px;
										}
										a{
											color:blue;
										}
									}
									&:hover .show_follow{
										display:block;
									}
								}
							}
							
						}
					}
				}
			}
			.introduce_R{
				width: 570px;
				height: 510px;
				float:right;
				.href{
					font-size:12px;
					color:#666;
					margin-left:12px;
				}
				h3{
					margin-bottom: 10px;
					color:#222;
				}
				.fashion_text{
					margin-bottom: 10px;
    				color: #666;
    				font-size:12px;
				}
				span{
					color:#666;
					font-size:12px;
				}
				.price-box{
					width: 550px;
					height: 100px;
					position: relative;
				    padding: 15px 10px 10px 10px;
				    margin-bottom: 15px;
				    border: 1px dotted #e8e8e8;
				    background-color: #fafafa;
				    ul{
				    	li{
				    		margin-bottom:10px;
				    		.price{
				    			color:red;
				    			font-size:24px;
				    		}
				    		span{
				    			margin-right:12px;
				    			b{
				    				width: 40px;
				    				height: 18px;
				    				background: #ff504a;
				    				border-radius:2px;
				    				color:#fff;
				    				font-weight:100;
				    				margin-left:20px;
				    				margin-right:4px;
				    				display:inline-block;
				    				text-align:center;
				    			}
				    		}
				    		.exemption{
				    			display:block;
				    			margin-left:23px;
				    			margin-top:10px;
				    		}
				    	}
				    }
				}
				.center_span{
					width: 570px;
					height: 180px;
					// background: #eee;
					margin-bottom: 30px;
					ul{
						li{
							color:red;
							font-size:12px;
							position:relative;
							height: 45px;
							line-height:45px;
							span{
								margin:0 15px;
								float:left;
							}
							input{
								width: 130px;
								height: 25px;
								font-size:12px;
								text-indent:10px;
								margin-right:10px;
								outline:none;
							}
							i{
								position:absolute;
								left:160px;
								top:0px;
								font-size:12px;
								color:#666;
							}
							.aImg{
								float:left;
								width: 36px;
								height: 36px;
								border:2px solid red;
							}
							img{
								width: 36px;
								height: 36px;
							}
							.size{
								width: 33px;
								height: 27px;
								text-align: center;
    							border: 1px solid #ccc;
    							line-height:28px;
    							font-size:12px;
    							margin-right:10px;
    							float:left;
    							color:#000;
    							margin-top:10px;
    							box-sizing:border-box;
    							cursor:pointer;
    							&:hover{
    								border:2px solid red;
    								line-height: 27px;
    							}
							}
							#size_div{
								border:2px solid red;
								line-height:27px;
							}
							.size_form{
								&:hover{
									text-decoration:underline;
									cursor:pointer;
								}
							}
							.icon-GroupCopy{
								position:absolute;
								font-size:10px;
								left:235px;
								top:0px;
								color:#cc0000;
								left:225px;
							}
						}
						.num{
							width: 570px;
							height: 45px;
							line-height:45px;
							float:left;
							position:relative;
							a{
								float:left;
								width: 24px;
								height: 24px;
								line-height:24px;
								border:1px solid #ccc;
								margin-top:10px;
								text-align:center;
								color:#000;
							}
							input{
								float:left;
								width: 46px;
								height: 22px;
								text-indent:20px;
								margin:10px 0 0 0;
							}
						}
					}
					
				}
				.button{
					width: 570px;
					height: 80px;
					button{
						width: 190px;
						height: 44px;
						background: #ff504a;
						color:#fff;
						font-size:14px;
						line-height:44px;
						text-align:center;
						outline:none;
						border:none;
						border-radius: 2px;
    					cursor: pointer;
    					margin-bottom:10px;
					}
					.icon_text{
						font-size:12px;
						color:#777;
						span{
							color:#222;
							font-size:12px;
						}
						em{
							font-style:normal;
							color:red;
						}
					}
				}
			}
		}
		.img_box{
			width: 1000px;
			height: 80px;
			margin:0 auto 20px;
		}


		/* 商品介绍 */
		.shop_int{
			width: 1000px;
			margin:0 auto;
			overflow:hidden;
			.int_left{
				width: 788px;
				border: 1px solid #e8e8e8;
				background: #fff;
				overflow:hidden;
				float:left;
				.int_top{
					width: 788px;
					height: 43px;
					float:left;
					margin-bottom:50px;
					background: #f5f5f5;
					a{
						float:left;
					    width: 160px;
					    line-height:43px;
					    border-right: 1px solid #e8e8e8;
					    text-align: center;
					    font-size: 14px;
					    color: #222;
					    background: #f5f5f5;
					}
					.activeA{
						background: #fff;
						border-bottom:none;
						color:#F70800;
						border-top:2px solid #F70800;
					}				
				}
				.int_center{
					width: 732px;
					padding:0 28px;
					padding-bottom:50px;
					overflow:hidden;
					img{
						padding-bottom:30px;
					}
					:last-child{
						border-bottom:1px solid #eee;
					}
				}
				.int_bottom{
					width: 788px;
					height: 330px;
					border-top:1px solid #eee;
					border-bottom:1px solid #eee;
					.look_shop{
						width: 768px;
						height: 34px;
						background: #f5f5f5;
						border-bottom: 1px solid #e8e8e8;
						padding-left:20px;
						line-height:34px;
						b{
							font-size:14px;
							height: 10px;
							padding-left:10px;
							border-left:2px solid red;
						}
					}
					ul{
						overflow:hidden;
						li{
							float:left;
							margin:0 10px;
							a{
								width: 175px;
								height: 240px;
								float:left;
								font-size:12px;
								margin-top:30px;
								img{
									width: 170px;
									height: 170px;
								}
								span{
									color:#222;
								}
								p{
									font-size:16px;
									color:#f70800;
									margin-top:10px;
									margin-left:5px;
									i{
										margin-left:10px;
										font-size:14px;
										font-style:normal;
										color:#999;
										span{
										    color: #999;
										    font-size: 14px;
										    text-decoration: line-through;
										}
									}
								}
							}
						}
					}					
				}
			}
			.int_right{
				width: 188px;
				border:1px solid #e8e8e8;
				border-top:none;
				float:right;
				.look{
					width: 188px;
					height: 40px;
					line-height:40px;
					border-top: 2px solid #F70800;
					border-bottom:1px solid #e8e8e8;
					h3{
						font-size:14px;
						margin-left:20px;
					}
				}
				ul{
					li{
						overflow:hidden;
						padding:20px 0;
						a{
							width: 175px;
							overflow:hidden;
							float:left;
							font-size:12px;
							margin-left:10px;
							text-align:center;
							img{
								width: 160px;
								height: 150px;
							}
							span{
								color:#222;
							}
							p{
								font-size:16px;
								color:#f70800;
								margin-top:10px;
								margin-left:5px;
								padding-bottom:20px;
							border-bottom:1px solid #f6f6f6;

								i{
									margin-left:10px;
									font-size:14px;
									font-style:normal;
									color:#999;
									span{
									    color: #999;
									    font-size: 14px;
									    text-decoration: line-through;
									}
								}
							}
						}
					}
				}
			}
		}

		/* 浮窗部分 */
		.fix_box{
			width: 997px;
			height: 45px;
			margin:0 auto;
			background: #f5f5f5;
			position:fixed;
			top:0;
			left:133px;
			display:none;
			.fix_l{
				width: 480px;
				height: 43px;
				float:left;
				a{
					float:left;
				    width: 159px;
				    line-height:43px;
				    border-right: 1px solid #e8e8e8;
				    text-align: center;
				    font-size: 14px;
				    color: #222;
				    background: #f5f5f5;
				}
				.activeA{
					background: #fff;
					border-bottom:none;
					color:#F70800;
					border-top:2px solid #F70800;
				}
			}
			.fix_r{
				width: 510px;
				height: 43px;
				background: #f5f5f5;
				float:right;
				font-size:12px;
				span{
					margin:0 5px;
					letter-spacing:3px;
				}
				.col_text{
					float:left;
					width: 110px;
					height: 43px;
					line-height:43px;
					text-align:center;
				}
				.btn_text{
					float:right;
					width: 308px;
					height: 43px;
					line-height:43px;
					text-align:center;
					.money{
						font-size:16px;
						color:#F70800;
						letter-spacing:0px;
					}
					button{
						width: 190px;
						height: 44px;
						background: #ff504a;
						color:#fff;
						font-size:14px;
						line-height:44px;
						text-align:center;
						outline:none;
						border:none;
						border-radius: 2px;
    					cursor: pointer;
					}
				}
			}
		}
		
	}
}













/* bg_footer ٩(๑❛ᴗ❛๑)۶z */

			/* 右侧悬浮 */

.sidebar {
    z-index: 999;
    width: 36px;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    border-right: 4px solid #222;
    cursor:pointer;
    .bar_top{
    	width: 36px;
    	height: 144px;
    	background: #777;
    	position:absolute;
    	right:-4px;
    	top:50%;
    	margin-top: -72px;
    	ul{
    		li{
    			position:relative;

    			img{
    				display:block;
    			}
    			.box_show1{
    				display:none;
    				.bar_show1{
	    				width: 260px;
	    				height: 230px;
	    				border:1px solid #eee;
	    				position:absolute;
	    				right:36px;
	    				top:0;
	    				.show1_top{
	    					width: 260px;
	    					height: 120px;
	    					background: #fff;
	    					text-align:center;
	    					padding-top:40px;
	    					img{
	    						display:inline-block;
	    					}
	    					span{
	    						margin-top:5px;
	    						display:block;
	    						font-size:12px;
	    						a{
	    							margin:0 5px;
	    							color:#f70800;
	    						}
	    					}
	    				}
	    				.show1_bottom{
	    					width: 260px;
	    					height: 50px;
	    					background: #eee;
	    					padding-top:20px;
	    					.btn_left{
	    						width: 70px;
	    						line-height: 25px;
	    						border:1px solid #666;
	    						font-size:12px;
	    						color:#000;
	    						float:left;
	    						text-align:center;
	    						margin:0 10px 0 65px;
	    						transition:all 0.5s;
	    						&:hover{
	    							border-color:#f70800;
	    							color:#f70800;
	    							border-radius:10px;
	    						}
	    					}
	    					.btn_right{
	    						width: 70px;
	    						line-height: 25px;
	    						border:1px solid #666;
	    						font-size:12px;
	    						color:#000;
	    						float:left;
	    						text-align:center;
	    						transition:all 0.5s;
	    						&:hover{
	    							border-color:#f70800;
	    							color:#f70800;
	    							border-radius:10px;
		    					}
		    				}
		    			}
		    		}
		    		i{
						position:absolute;
						top:10px;
						left:-1px;
						width: 0;
						height: 0;
						border-right:none;
						border-left:7px solid #fff;
						border-bottom:7px solid transparent;
						border-top:7px solid transparent;
	    			}
	    		}
	    		.box_show2{
	    			width: 90px;
	    			line-height: 30px;
	    			background: #666;
	    			font-size:12px;
	    			color:#fff;
	    			text-align:center;
	    			border-radius:5px 0 0 5px;
	    			position:absolute;
	    			right:36px;
	    			top:3px;
	    			display:none;
	    			i{
						position:absolute;
						top:9px;
						left:90px;
						width: 0;
						height: 0;
						border-right:none;
						border-left:7px solid #666;
						border-bottom:7px solid transparent;
						border-top:7px solid transparent;
	    			}
	    		}
	    		&:hover .box_show1{
	    			display:block;
	    		}
	    		&:hover .box_show2{
	    			display:block;
	    		}
			}
		}
	}
    .bar_bot{
    	width: 36px;
    	height: 108px;
    	background: #777;
    	position:absolute;
    	right:-4px;
    	bottom:-1px;
    	img{
    		display:block;
    	}
    	ul{
    		li{
    			position:relative;
    			.box_show3{
	    			width: 90px;
	    			line-height: 30px;
	    			background: #666;
	    			font-size:12px;
	    			color:#fff;
	    			text-align:center;
	    			border-radius:5px 0 0 5px;
	    			position:absolute;
	    			right:36px;
	    			top:3px;
	    			display:none;
	    			i{
						position:absolute;
						top:9px;
						left:90px;
						width: 0;
						height: 0;
						border-right:none;
						border-left:7px solid #666;
						border-bottom:7px solid transparent;
						border-top:7px solid transparent;
				    }
    			}
    			&:hover .box_show3{
	    			display:block;
	    		}
    		}
    	}
	}
}

footer{
	width: 100%;
	height: 520px;
	.bg_footer{
		width: 1000px;
		height: 520px;
		margin:0 auto;
		.footer_top{
			border-bottom:1px solid #e6e6e6;
			img{
				float:left;
			}
		}
		.footer_center{
			float:left;
			width: 925px;
			height: 115px;
			border-bottom: 1px solid #e6e6e6;
  			padding: 26px 0 26px 75px;
  			margin:0 auto;
  			dl{
  				float: left;
			    width: 95px;
			    height: 114px;
			    padding-left: 42px;
			    border-right: 1px dotted #e6e6e6;
			    text-align: left
			    dt{
			    	color: #333;
					font-size: 16px;
					line-height: 26px;
			    }
			    dd{
   					line-height: 22px;
   					a{
   						font-size:12px;
   						color:#666;
   					}
			    }
  			}
  			:last-child{
			    border:none;
			}
			.code{
				width: 80px;
				float:left;
				text-align:center;
				margin:0 27px;
				font-size:12px;
				cursor:pointer;
				p{
					color:#222;
				}
				span{
					color:#999;
				}
			}
			.data{
				float:left;
				margin-top:20px;
			}
		}
		.footer_bottom{
			float:left;
			width: 1000px;
			height: 150px;
			padding-top:20px;
			.a_list{
				text-align:center;
				a{
					margin:0 8px;
					font-size:13px;
					color:#555;
					&:hover{
						color:#f70800;
					}
				}
				span{
					display:inline-block;
					color:#555;
					height: 17px;
					overflow:hidden;
				}
			}
			.sa{
				font-size:12px;
				margin-left:27px;
				line-height:25px;
				color:#555;
				a{
					color:#555;
					margin-right:6px;
					&:hover{
						color:#f70800;
					}
				}
			}
			p{
				font-size:12px;
				color:#555;
				line-height: 26px;
				text-align:center;
				img{
					vertical-align:top;
					margin-right:5px;
				}
			}
		}
	}
}
